/tools/
/data/
/pipeline/config.groovy
/tasks/nectar/current.manifest.json
samples.db
pipeline_id
swift_credentials.sh
**.doit.db
.idea
.bpipe
*.pyc
*.swp
tmpdata
batches
!designs/ALL
**.log
**.bak
lib/*.egg-info/
