// Include ngs utils to make them available to pipeline
libs="../tools/groovy-hts-sample-info/v1.1/groovy-hts-sample-info.jar:../tools/groovy-ngs-utils/1.0/groovy-ngs-utils.jar"

// To lower contention on the variant database,
// restrict the concurrency on updating it down to 1
limits {
    variantdb = 1
}

// If you want notifications by instant message, customize this
// section. See http://docs.bpipe.org/Guides/Notifications/
// for more options

// notifications {
//   cpipe_operator {
//     to="your_account@gmail.com"
//     username="senderaccount@gmail.com"
//     password="thepassword"
//     events="STAGE_COMPLETED,FINISHED"
//     interval="60000"
//   }
// }
