
#
# configuration file for additional annotation performed by vcfanno
#

[[annotation]]
file="$ANNOTATIONS/ExACr0.3.1.vcf.gz"
fields = ["AF", "AN_Adj", "AC_Adj", "AC", "AC_AFR", "AC_AMR", "AC_CONSANGUINEOUS", "AC_EAS", "AC_FEMALE", "AC_FIN", "AC_MALE", "AC_NFE", "AC_OTH", "AC_POPMAX", "AC_SAS", "AN", "AN_AFR", "AN_AMR", "AN_CONSANGUINEOUS", "AN_EAS", "AN_FEMALE", "AN_FIN", "AN_MALE", "AN_NFE", "AN_OTH", "AN_POPMAX", "AN_SAS"]
names = ["cpipe_ExAC_AF", "cpipe_ExAC_AN_Adj", "cpipe_ExAC_AC_Adj", "cpipe_ExAC_AC", "cpipe_ExAC_AC_AFR", "cpipe_ExAC_AC_AMR", "cpipe_ExAC_AC_CONSANGUINEOUS", "cpipe_ExAC_AC_EAS", "cpipe_ExAC_AC_FEMALE", "cpipe_ExAC_AC_FIN", "cpipe_ExAC_AC_MALE", "cpipe_ExAC_AC_NFE", "cpipe_ExAC_AC_OTH", "cpipe_ExAC_AC_POPMAX", "cpipe_ExAC_AC_SAS", "cpipe_ExAC_AN", "cpipe_ExAC_AN_AFR", "cpipe_ExAC_AN_AMR", "cpipe_ExAC_AN_CONSANGUINEOUS", "cpipe_ExAC_AN_EAS", "cpipe_ExAC_AN_FEMALE", "cpipe_ExAC_AN_FIN", "cpipe_ExAC_AN_MALE", "cpipe_ExAC_AN_NFE", "cpipe_ExAC_AN_OTH", "cpipe_ExAC_AN_POPMAX", "cpipe_ExAC_AN_SAS"]
ops=["first", "first", "first", "first", "first", "first", "first", "first", "first", "first", "first", "first", "first", "first", "first", "first", "first", "first", "first", "first", "first", "first", "first", "first", "first", "first", "first"]

# 1000 genomes phase 3
[[annotation]]
file="$ANNOTATIONS/1000Gp3.vcf.gz"
fields = ["AF", "AN", "AC", "AFR_AF", "AMR_AF", "EAS_AF", "EUR_AF", "SAS_AF"]
names = ["cpipe_1000Gp3_AF", "cpipe_1000Gp3_AN", "cpipe_1000Gp3_AC", "cpipe_1000Gp3_AF_AFR", "cpipe_1000Gp3_AF_AMR", "cpipe_1000Gp3_AF_EAS", "cpipe_1000Gp3_AF_EUR", "cpipe_1000Gp3_AF_SAS"]
ops=["first", "first", "first", "first", "first", "first", "first", "first"]
